<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.mapper.LoginMapper">
	<select id="login" parameterType="Map" resultType="User">
		select * from user where user_name = #{user_name} and password = #{password}
	</select>
	
	<select id="checkUser" parameterType="String" resultType="User">
		select * from user where user_name = #{user_name}
	</select>
	
	
	<insert id="registerAdd" parameterType="User">
		insert into user (user_name,password,real_name,email) values (#{user_name},#{password},#{real_name},#{email})
	</insert>
</mapper>